@import ../constants

.Header
    font-size: $font-size-title
    background: linear-gradient(rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0))
    padding: 0 0.5rem

    display: flex
    align-items: center
    justify-items: center

.logo
    height: $font-size-title
    pointer-events: none
    width: 2rem
    height: 2rem
    padding: 0.5rem

.title
    font-size: $font-size-title
