.HistoryGraph
    margin-top: 1rem
    > h1
        background-color: #000000
        border-radius: 0.5rem
        padding: 0.5rem 1rem
        width: fit-content
    > img
        width: 75%
        margin-left: 0.75rem
        margin-top: 0.5rem
