@import ../constants

.WeatherForecastHourly
    min-height: $square-panel-size

    display: flex
    flex-wrap: wrap
    flex-direction: row

    > div
        height: $square-panel-size
        width: $square-panel-size
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
